<template>
    <lightning-card>
        <h1>Search Using Button</h1>
       <lightning-input type="text" placeholder="Account Name" onchange={searchKeyHandler}></lightning-input>
       <lightning-button label="Search" onclick={searchHandler}></lightning-button>
        <template for:each={accountList} for:item="account">
            <div key={account.id}>
                
                {account.Name}
            </div>
        </template>
        <!--  <div>{accounts.error}</div> -->
    </lightning-card>
    
</template>