<template>
    <article class="slds-card">
        <div class="slds-p-top_small slds-p-left_large">
            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-form-element">
                        <div class="slds-form-element__control">
                            <input type="text" id="firstName" placeholder="First Name" required="" class="slds-input"
                                onchange={onFirstname} />
                        </div>
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-form-element">
                        <div class="slds-form-element__control">
                            <input type="text" id="lastName" placeholder="Last Name" required="" class="slds-input"
                                onchange={onLastname} />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slds-p-top_small slds-p-left_large">
            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_2-of-2">
                    <fieldset class="slds-form-element">
                        <legend class="slds-form-element__legend slds-form-element__label">Gender</legend>
                        <div class="slds-form-element__control">
                            <span class="slds-radio">
                                <input type="radio" id="male" value="male" name="gender" checked="" onchange={onGender} />
                                <label class="slds-radio__label" for="male">
                                    <span class="slds-radio_faux"></span>
                                    <span class="slds-form-element__label">Male</span>
                                </label>
                            </span>
                            <span class="slds-radio">
                                <input type="radio" id="female" value="female" name="gender" onchange={onGender} />
                                <label class="slds-radio__label" for="female">
                                    <span class="slds-radio_faux"></span>
                                    <span class="slds-form-element__label">Female</span>
                                </label>
                            </span>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>

        <div class="slds-p-top_small slds-p-left_large">
            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-form-element">
                        <div class="slds-form-element__control">
                            <input type="text" id="designation" placeholder="Designation" required="" class="slds-input"
                                onchange={onDesignation} />
                        </div>
                    </div>
                </div>

                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-form-element">
                        <div class="slds-form-element__control">
                            <div class="slds-checkbox">
                                <input type="checkbox" name="options" id="fullTime" value="Full Time" 
                                    onchange={onFullTime} />
                                <label class="slds-checkbox__label" for="fullTime" checked="">
                                    <span class="slds-checkbox_faux"></span>
                                    <span class="slds-form-element__label">Full Time</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slds-p-top_small slds-p-left_large">
            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-form-element">
                        <div class="slds-form-element__control">
                            <input type="number" id="salary" placeholder="Salary" required="" class="slds-input"
                                onchange={onSalary} />
                        </div>
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-form-element">
                        <div class="slds-form-element__control">
                            <input type="email" id="email" placeholder="Email" required="" class="slds-input"
                                onchange={onEmail} />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slds-p-top_small slds-p-left_large">
            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_2-of-3">
                    <div class="slds-form-element">
                        <div class="slds-form-element__control">
                            <textarea id="description" placeholder="Description" class="slds-textarea"
                                onchange={onDescription}></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="slds-p-top_small slds-p-left_large">
            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_2-of-3">
                    <lightning-button variant="brand" label="Submit" title="Primary action" onclick={submitHandle} class="slds-m-left_x-small"></lightning-button>
                </div>
            </div>
        </div>
      
        <div class="slds-p-bottom_x-small">
            <template if:true={submit}>
               <div>First Name : {firstName}</div>
               <div>Last Name : {lastName}</div> 
               <div>Gender : {gender}</div>
               <div>Designation : {designation}</div> 
               <div>Full Time : {fulltime}</div>
               <div>Salary : {salary}</div> 
               <div>Email : {email}</div> 
               <div>Description : {description} </div>        
            </template>
        </div>





    </article>

</template>