<template>
    <article class="slds-card">
        <table class="slds-table slds-table_cell-buffer slds-table_bordered"
            aria-label="Example default base table of Opportunities">
            <thead>
                <tr class="slds-line-height_reset">
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Name">Name</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Gender">Gender</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Designation">Designation</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Full Time">Full Time</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Salary">Salary</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Email">Email</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Description">Description</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Action">Action</div>
                    </th>
                </tr>
            </thead>

            <tbody>
                <template for:each={listOfData} for:item="rec">
                    <tr key={rec}>
                        <td>
                            <div if:true={rec.edit}>
                                <lightning-input type="text" variant="label-hidden" placeholder="Name"
                                    data-id={rec.index} value={rec.name} onchange={nameHandler}></lightning-input>
                            </div>

                            <div if:true={rec.save}> {rec.name}</div>
                            <!-- <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <input type="text" data-id={rec.index} placeholder="Name" class="slds-input" />
                                </div>
                            </div> -->
                        </td>
                        <td>
                            <div if:true={rec.edit}>
                                <lightning-radio-group name={rec.index} data-id={rec.index} options={options}
                                    type="radio" value={rec.gender} onchange={genderHandler}>
                                </lightning-radio-group>
                            </div>

                            <div if:true={rec.save}> {rec.gender}</div>
                        </td>
                        <td>
                            <div if:true={rec.edit}>
                                <lightning-combobox name={rec.index} value={rec.designation} placeholder="Designation"
                                    data-id={rec.index} options={designationOptions} onchange={designationHandler}>
                                </lightning-combobox>
                            </div>

                            <div if:true={rec.save}> {rec.designation}</div>
                        </td>
                        <td>
                            <div if:true={rec.edit}>
                                <lightning-input type="checkbox" data-id={rec.index} onchange={fullTimeHandler}>
                                </lightning-input>
                            </div>

                            <div if:true={rec.save}>
                                <div if:true={rec.fullTime}>
                                    <lightning-input type="checkbox" value={rec.fullTime} checked="" disabled="">
                                    </lightning-input>
                                </div>
                                <div if:false={rec.fullTime}>
                                    <lightning-input type="checkbox" value={rec.fullTime} disabled="">
                                    </lightning-input>
                                </div>


                            </div>

                        </td>

                        <td>

                            <div if:true={rec.edit}>
                                <lightning-input type="number" variant="label-hidden" placeholder="Salary"
                                    value={rec.salary} data-id={rec.index} onchange={salaryHandler}></lightning-input>
                            </div>
                            <div if:true={rec.save}> {rec.salary}</div>
                        </td>

                        <td>
                            <div if:true={rec.edit}>
                                <lightning-input type="email" variant="label-hidden" placeholder="Email"
                                    value={rec.email} data-id={rec.index} onchange={emailHandler}></lightning-input>
                            </div>
                            <div if:true={rec.save}> {rec.email}</div>

                        </td>

                        <td>
                            <div if:true={rec.edit}>
                                <lightning-textarea name={rec.index} value={rec.description} data-id={rec.index}
                                    placeholder="Description" onchange={descriptionHandler}></lightning-textarea>

                            </div>
                            <div if:true={rec.save}> {rec.description}</div>

                        </td>

                        <td>
                            <div>
                                <lightning-button variant="brand" label="Delete" access-key={rec.index} name={rec.index}
                                    onclick={deleteHandler} class="slds-m-left_x-small" id={rec.index}>
                                </lightning-button>

                                <div if:true={rec.edit}>
                                        <lightning-button variant="brand" label="Save" access-key={rec.index}
                                        name={rec.index} onclick={saveHandler} class="slds-m-left_x-small"
                                        id={rec.index}>
                                    </lightning-button>
                                 
                                    

                                </div>


                                <div if:true={rec.save}>
                                    
                                    <lightning-button variant="brand" label="Edit" access-key={rec.index}
                                        name={rec.index} onclick={editHandler} class="slds-m-left_x-small"
                                        id={rec.index}></lightning-button>
                                       
                                </div>
                            </div>

                        </td>
                    </tr>
                </template>


            </tbody>
            <!-- </template> -->
        </table>
        <div>
            <br>
            <br>

            <button style="float:right" class="slds-button slds-button_brand" onclick={addRowHandler}>Add Row</button>
        </div>

    </article>
</template>