<template>
    <lightning-card>
        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_1-of-2">
                <lightning-input type="text" name="Name" label="Account Name" onchange={inputHandler} required>
                </lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <lightning-input type="tel" name="Phone" label="Phone" onchange={inputHandler}></lightning-input>
            </div>
        </div>

        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_1-of-2">
                <lightning-input type="text" name="ParentId" label="Parent Account" onchange={inputHandler}>
                </lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <lightning-input type="tel" name="Fax" label="Fax" onchange={inputHandler}></lightning-input>
            </div>
        </div>

        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_1-of-2">
                <lightning-input type="text" name="AccountNumber" label="Account Number" onchange={inputHandler}>
                </lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <lightning-input type="url" name="Website" label="Website" onchange={inputHandler}></lightning-input>
            </div>
        </div>

        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_1-of-2">
                <lightning-input type="url" name="Site" label="Account Site" onchange={inputHandler}></lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <lightning-input type="text" name="TickerSymbol" label="Ticker Symbol" onchange={inputHandler}>
                </lightning-input>
            </div>
        </div>

        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_1-of-2">
                <lightning-combobox name="Type" label="Type" value={typeValue} options={typeOptions}
                    onchange={inputHandler}></lightning-combobox>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <lightning-combobox name="Ownership" label="Ownership" value={value} options={ownershipOption}
                    onchange={inputHandler}></lightning-combobox>
            </div>
        </div>

        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_1-of-2">
                <lightning-combobox name="Industry" label="Industry" value={value} options={industryOption}
                    onchange={inputHandler}></lightning-combobox>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <lightning-input type="number" label="Annual Revenue" onchange={inputHandler}></lightning-input>
            </div>
        </div>

        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_1-of-2">
                <div class="row">
                    <!-- <h2 class="header">Billing Address</h2> -->
                    <lightning-textarea name="BillingCity" label="Billing Address" onchange={inputHandler}>
                    </lightning-textarea>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <lightning-input type="number" name="Sic" label="SIC Code" onchange={inputHandler}></lightning-input>
            </div>
        </div>
        <div>
            <lightning-button variant="brand" label="Submit" disabled={disabledHandler} onclick={submitHandler}>
            </lightning-button> &nbsp;&nbsp;

            <lightning-button variant="brand" label="Reset" onclick={resetHandler}></lightning-button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div if:true={showMessage}>
                <h1>{accountMsg}</h1>
            </div>
        </div>
    </lightning-card>
</template>